<%-- 
Name: EditableBusinessObject.cst
Author: lspcieee
Description: 实体分布生成
--%>

<%@ CodeTemplate Language="C#" ResponseEncoding="UTF-8" Inherits="CsNHibernateHelper" Src="../Helpers/CsNHibernateHelper.cs" TargetLanguage="C#" Debug="False" Description="Generates a Business Object for NHibernate." %>

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Optional="False" Category="1a. Source Table" Description="The source table to generate from." %>
<%@ Property Name="EntitiesNamespace" Type="System.String" Default="KDSoft.KDCMS.Modules.XX.Entities" Optional="False" Category="2. Namespaces" Description="The desired Namespace for the Business Objects." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="NHibernateHelper" Path="..\..\..\Common\NHibernateHelper" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="NHibernateHelper" %>
<%@ Map Name="SystemCSharp" Src="System-CSharpAlias" %>
namespace <%= EntitiesNamespace %>
{
    /// <summary>
    /// <%= ClearNote(SourceTable.Description) %>
    /// </summary>
    public partial class <%= GetTableClassName(SourceTable) %>
    {
        //public override LifecycleVeto OnSave(ISession s)
        //{
        //    throw new System.NotImplementedException();
        //}

        //public override void OnLoad(ISession s, object id)
        //{
        //    throw new System.NotImplementedException();
        //}

        //public override LifecycleVeto OnDelete(ISession s)
        //{
        //    throw new System.NotImplementedException();
        //}

        //public override LifecycleVeto OnUpdate(ISession s)
        //{
        //    throw new System.NotImplementedException();
        //}

        //public override void Validate()
        //{
        //    throw new System.NotImplementedException();
        //}
    }
}