<%-- 
Name: config.cst
Author: lspcieee
Description: 服务映射配置文件
--%>
<%@ CodeTemplate Language="C#" ResponseEncoding="UTF-8" Inherits="CsNHibernateHelper" Src="../Helpers/CsNHibernateHelper.cs" TargetLanguage="xml" Debug="False" Description="Generates a Business Object for NHibernate." %>
<%@ Property Name="ModuleTables" Type="SchemaExplorer.TableSchemaCollection"  Optional="False" Category="1. 数据库设置" Description="请选择模块所包含的表" Filter="SourceTable"%>
<%@ Property Name="AssemblyName" Type="System.String" Default="KDSoft.KDCMS.Modules.XX" Optional="False" Category="2a. Assembly" Description="The name of the Assembly that will contain the business objects." %>
<%@ Property Name="FrameworkNamespace" Type="System.String" Default="KDSoft.KDCMS.Framework" Optional="False" Category="3b. 命名空间" Description="Framework命名空间" %>
<%@ Property Name="IServiceNamespace" Type="System.String" Default="KDSoft.KDCMS.Modules.XX.IService" Optional="False" Category="3b. 命名空间" Description="IService命名空间" %>
<%@ Property Name="ServiceNamespace" Type="System.String" Default="KDSoft.KDCMS.Modules.XX.Service" Optional="False" Category="3b. 命名空间" Description="Service命名空间" %>
<%@ Property Name="EntitiesNamespace" Type="System.String" Default="KDSoft.KDCMS.Modules.XX.Entities" Optional="False" Category="3b. 命名空间" Description="实体命名空间" %>
<%@ Property Name="DatabaseType" Type="System.String" Optional="False" Category="3b. 命名空间" Description="实体命名空间" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="NHibernateHelper" Path="..\..\..\Common\NHibernateHelper" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="NHibernateHelper" %>
<%@ Map Name="SystemCSharp" Src="System-CSharpAlias" %>
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <%
    foreach(TableSchema table in ModuleTables)
    {
        string className=GetTableClassName(table);
    %>
    <component id="<%=className%>Service"
        service="<%=this.IServiceNamespace%>.I<%=className%>Service, <%=this.AssemblyName%>" type="<%=this.ServiceNamespace%>.Dialect.<%=className%><%=DatabaseType%>Service, <%=this.AssemblyName%>" />
   <%if(!table.Description.Contains("[noList]")){ %>        
    <component id="<%=this.AssemblyName%>_<%=className%>" type="<%=this.AssemblyName%>.Controllers.<%=className%>Controller, <%=this.AssemblyName%>"  />
   
    <%}}%>


  </components>


</configuration>

